.header{
    width: 100%;
    height: 550px;
    background-image: url('../../../../public/assets/fondoHeader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: black;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.navbar-nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item{
    margin-left: 50px;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-link:hover{
    color: #ED7557;
}

.header-content{
    max-width: 500px;
    margin-bottom: 8rem;
    margin-left: 3rem;

}

.header-content h1{
    font-size: 3rem;
}
.header-content p {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.btnComenzar{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 20px;
    margin-bottom: 0;
}
.btnComenzar:hover{
    background-color: rgba(237, 117, 87, 0.645);
}
.btnComenzar:active{
    border-color: rgb(237,117,87);
    box-shadow: 0 0 5px rgba(237, 117, 87, 0.5);
    outline: none;
    color: white;
}

@media (max-width: 768px) {
    .header{
        height: 400px;
        background-position: top center;
        
    }
    .nav-link{
        font-size: 0.8rem;
        display: block;
    }
    .header-content{
        max-width: 90%;
        margin-bottom: 5rem;
        margin-left: 0.5rem;
    }
    .header-content h1{
        font-size: 1.5rem;
    }
    .header-content p  {
        font-size: 0.9rem;
        max-width: 200px;
    }

    .navbar-nav {
        flex-direction: column; 
        align-items: flex-start; 
    }
    
    .nav-item {
        margin-left: 0; 
        margin-bottom: 10px;
    }
    .btnComenzar{
        padding: 4px;
    }
}