<div class="page-container">
  <header>
    <app-header *ngIf="currentHeader() === 'inicio'"></app-header>

    <app-header-admin
      *ngIf="currentHeader() === 'header-admin'"
    ></app-header-admin>
    <app-usuario-header
      *ngIf="currentHeader() === 'header-usuario'"
    ></app-usuario-header>
  </header>
  <main class="content-wrap">
    <!-- <app-usuario></app-usuario> -->
    <!-- <app-inicio-admin></app-inicio-admin> -->
    <!--  <app-inicio></app-inicio>  -->
    <!-- <app-login></app-login>  -->
  <!--  <app-create-account></app-create-account> -->
   <router-outlet />
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>

  
</div>
